body {
	background-color: #f8f8f8;
}

#wrapper {
	width: 100%;
}

#page-wrapper {
	padding: 0 15px;
	min-height: 568px;
	background-color: #fff;
}

@media ( min-width :768px) {
	#page-wrapper {
		position: inherit;
		margin: 0 0 0 250px;
		padding: 0 30px;
		border-left: 1px solid #e7e7e7;
	}
}

.sidebar .sidebar-nav.navbar-collapse {
	padding-right: 0;
	padding-left: 0;
}

.sidebar ul li {
	border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
	background-color: #eee;
}

@media ( min-width :768px) {
	.sidebar {
		z-index: 1;
		position: absolute;
		width: 250px;
		margin-top: 51px;
	}
}

.btn-primary.btn-outline {
	color: #428bca;
}

.panel {
	margin-right: 5px;
}